.footer {
  text-align: center;
  padding: 70px;
  background-color: #032535;
}

.links {
  display: inline-block;
}

.footer a {
  color: #ebfffb;
  font-size: 40px;
  padding: 15px;
}

.footer p {
  color: #ebfffb;
}
